body {
    background-color: #d6d5d2; /* Light pastel yellow */
    
  }
   


.student_form{
    display: flex;
    justify-content: center;
    margin-top: 2%;
}  
.student_form input{
    width: 400px;    
    background-color: transparent;
}
.main-form{
    display: flex;
    justify-content: center;
    padding: 20px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    margin-bottom: 1%;
    background-color: white;
    
}
.student_table{
    width: 90%;
    margin: auto;
    margin-top: 1%;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    border-radius: 10px;
}

.input-group{
    width: 60%;
    margin: auto;
    margin-top: 2%;
}

.input-group form{
    border-radius: px;
    width: 60%;
    margin:auto;
    text-align: center;

}

input{
    border: solid black 3px;
}
button{
    margin: 1%;
}